<%= stylesheet_link_tag "header.css" %>

<header>
  <div id = "message-bar">
    <span>ENTER MESSAGE HERE</span>
  </div>

  <div id = "title-bar">
    <%= link_to root_path do %>
      <div class = "title-text">
        <h1>MAUVE</h1>
        <h2>FURNISHINGS</h2>
      </div>
    <% end %>

    <div class = "search-bar">
      <label for = "search">Search</label>
      <input id = "search" type = text placeholder = "Search">
    </div>

    <div class = "icons">
      <%= link_to "Account" %>
      <%= link_to "Cart" %>
    </div>
  </div>
</header>