#hero-image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 20px;
}
.container .card {
  padding: 20px;
}
.container .card h2 {
  margin-top: 0;
}