.container {
  display: flex;
  margin: 40px;
  /* padding: 20px; */
  /* border: 2px solid lightgrey; */
}
.container img {
  width: 50%;
  height: 475px;
  object-fit: contain;
}
.info {
  max-width: 50%;
  padding: 40px;
}
.info h2 {
  margin: 0;
}
span {
  display: block;
}
.info .category {
  color: grey;
  margin-bottom: 20px;
}
.info .price {
  font-weight: bold;
}
/* .info .edit {
  display: flex;
} */
.info .quantity {
  width: 50px;
  height: 30px;
  padding: 0 10px 0 10px;

  border: 1.5px solid lightgrey;
  border-radius: 3px;
}
.info .quantity:focus {
  outline: none;
  border: 1.5px solid black;
}
.info .button {
  /* width: 71px; */
  height: 31px;
  padding: 0 10px 0 10px;
  margin: auto 5px auto 5px;
  border: 1.5px solid lightgrey;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .container img {
    width: 100%;
    object-fit: contain;
  }
  .info {
    max-width: 100%;
    padding: 40px;
  }
}