/* GENERAL/MISC */

body, input {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
/* remove default link styling */
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}

.delete {
  background-color: yellow;
}
.pagination {
  width: 80%;
  height: fit-content;

  color: grey;
  margin: 10px auto 20px auto;

  vertical-align: middle;
  border: none;
}
.pagination span {
  margin: auto 5px auto 5px;
}
.breadcrumbs ul {
  display: flex;
  list-style-type: none;
}
.breadcrumbs ul li {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .breadcrumbs ul li {
    margin-right: 8px;
  }
}
.breadcrumbs ul li:hover :not(.no-select) {
  text-decoration: underline;
}
.breadcrumbs .location {
  color: grey;
  text-decoration: none;
}
.breadcrumbs .no-select {
  user-select: none;
}