<%= stylesheet_link_tag "style.css" %>
<%= render "shared/header" %>
<%= render "shared/nav" %>

<h1 class = "delete">Categories#show</h1>
<p class = "delete">Find me in app/views/categories/show.html.erb</p>

<%= render "shared/product_listings" %>
