<%= stylesheet_link_tag "style.css" %>
<%= render "shared/header" %>
<%= render "shared/nav" %>

<h1 class = "delete">Products#index</h1>
<p class = "delete">Find me in app/views/products/index.html.erb</p>

<h2>All Products</h2>

<%= render "shared/product_listings" %>
